
@charset "UTF-8";


body {
    background-color: rgb(28, 23, 59);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: darkslateblue;
}

h2 {
    color: darkblue;
}

p {
    text-align: justify;
}